.footer {
  background-color: rgb(151, 149, 255);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Adjust the width of the logo as needed */
}

.footer-right {
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-right: 10px; /* Adjust spacing between social links */
}

.copyright{
  justify-content: center;
  align-items: center;
}
